/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  text-align:center;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  right: 50%;
  left: 50%;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* body of the page */
body{
background-color: lightgrey;
}

table, tr,td{
text-align: center;
font-size: 40px;
margin-left: auto;
margin-right: auto;
border: 1px solid black;
border-collapse: collapse;
font-weight: bold;
padding: 5px;
}

#filterItem{
  margin: auto;
   width: 50%;
   border: 3px solid black;
   padding: 5px;

}
